/* 
	Style sheet for website
	Date: 9/5/2024
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800');

body {
	margin: 0;
	font-family: "Open Sans", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-family: "Noto Sans", sans-serif;
}
h1 {
	font-weight: 250;
}
h2 {
	font-weight: 500;
}
h3 {
	font-weight: 400;
}

.main-block {
	margin: 8px;
	display: flex;
	justify-content: center;

	background-color: #FFFFFF;
	color: #11151C;
}

.half-page-content {
	width: 500px;
	margin: 20px;
	overflow: auto;
}

.title-block {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* background-color: #CEA2AC; */
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("images/banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-block h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
}

.pdf {
	width: min(840px,100%);
	height: auto;
	aspect-ratio: 4/5;
}

/********** Text Blocks Small Screens **********/
@media screen and (max-width: 800px) {
	.main-block {
		flex-direction: column;
		align-items: center;
	}

	.half-page-content {
		margin: 20px;
		margin-bottom: 0;
	}
}

@media screen and (max-width: 600px) {
	.main-block {
		flex-direction: column;
		align-items: center;
	}

	.half-page-content {
		width: 85%;
		margin: 20px;
		margin-bottom: 0;
	}

	.title-block {
		height: 150px;
	}

	.title-block h1 {
		text-align: center;
		color: #FFFFFF;
		font-size: 50px;
	}
}

/********** Navigation Bar **********/

.navbar {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;

	position: sticky;
	top: 0;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;

	background-color: #212D40;
}

.navbar a {
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 60px;

	text-decoration: none;
	text-align: center;
	font-family: Raleway, sans-serif;
	color: #FFFFFF;
}

.navbar-right {
	display: flex;
	align-items: stretch;
}

.navbar .name {
	font-size: 20px;
}

.navbar .active {
	background-color: #CEA2AC;
	color: #11151C;
}

.navbar a:hover:not(.active,.name) {
	background-color: #364156;
	color: #FFFFFF;
}

/********** Navigation Bar Small screens **********/
.navbar .menu-icon {
	display: none;
	padding: 0 25px;

	background-color: #364156;
	color: #FFFFFF;
	font-size: 20px;
}

@media screen and (max-width: 800px) {
	.navbar {
		position: relative;
	}
	.navbar a:not(.name) {
		display: none;}
	.navbar a.menu-icon {
		display: flex;
	}

	.navbar.responsive {
		flex-direction: column;
		justify-content: start;
		align-items: start;
	}

	.navbar.responsive .navbar-right {
		display: inline;
		width: 100%;
	}

	.navbar.responsive a:not(.name,.menu-icon) {
		width: 100%;
		display: flex;
		text-align: left;
		transition: 0.5s;
	}

	.navbar.responsive .menu-icon {
		position: absolute;
		right: 0;
		top: 0;

		background-color: #364156;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 300px) {
	.navbar .name {
		display: none;
	}

	.navbar {
		justify-content: end;
	}
}

/********** Anti-Spam **********/
b.block-bots 
{ 
	display: none; 
}