/* 
	Style sheet for website
	Date: 9/5/2024
*/

body {
	margin: 0;
	font-family: Tahoma, sans-serif;
}

h1,h2,h3 {
	font-family: 'Century Gothic', sans-serif;
	font-weight: 300;
}

.main-block {
	margin: 8px;
	display: flex;
	justify-content: center;

	background-color: #FFFFFF;
	color: #11151C;
}

.title-block {
	height: 250px;
	display: flex;
	align-items: center;
	justify-content: center;

	/* background-color: #CEA2AC; */
	background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("images/banner.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.title-block h1 {
	text-align: center;
	color: #FFFFFF;
	font-size: 80px;
}

.pdf {
	width: 840px;
	height: auto;
	aspect-ratio: 4/5;
	overflow: auto;
}

/********** Navigation Bar **********/
.navbar {
	width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	overflow: hidden;

	position: sticky;
	top: 0;

	display: flex;
	align-items: stretch;
	justify-content: space-between;

	background-color: #212D40;
}

.navbar a {
	display: flex;
	align-items: center;
	padding: 18px 30px;

	text-decoration: none;
	text-align: center;
	font-family: 'Century Gothic', sans-serif;
	color: #FFFFFF;
}

.navbar-right {
	display: flex;
	align-items: stretch;
}

.navbar .name {
	font-size: 20px;
}

.navbar .active {
	background-color: #CEA2AC;
	color: #11151C;
}

.navbar a:hover:not(.active,.name) {
	background-color: #364156;
	color: #FFFFFF;
}

/********** Navigation bar small screens **********/
.navbar .menu-icon {
	background-color: #364156;
	color: #FFFFFF;
	display: none;
}

@media screen and (max-width: 800px) {
	.navbar {
		position: relative;
	}
	.navbar a:not(.name) {
		display: none;}
	.navbar a.menu-icon {
		display: flex;
	}

	.navbar.responsive .navbar-right {
		display: inline;
		width: 100%;
	}

	.navbar.responsive .name {
		display: none
	}

	.navbar.responsive a:not(.name,.menu-icon) {
		width: 100%;
		display: flex;
		text-align: left;
	}

	.navbar.responsive .menu-icon {
		position: absolute;
		right: 0;
		top: 0;

		background-color: #364156;
		color: #FFFFFF;
	}
}

@media screen and (max-width: 300px) {
	.navbar .name {
		display: none;
	}

	.navbar {
		justify-content: end;
	}
}

/********** Anti-Spam **********/
b.block-bots 
{ 
	display: none; 
}